streamlit
pandas
numpy
plotly
pystac-client
rasterio
shapely
pydeck
requests

fastapi
uvicorn
pymongo
python-dotenv

# Prophet model dependencies
prophet
scikit-learn
matplotlib
seaborn
jupyter
ipykernel
