@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: #f9fafb;
  color: #111827;
}
button {
  cursor: pointer;
}


/* Hide number input spinners across browsers */
@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .no-spinners {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
